In [ ]:
%reload_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Import du jeu de données
df = pd.read_csv('../data/movies.csv')

# Affichage des 10 premières lignes
df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [2]:
df['title'].iloc[0]

'Toy Story (1995)'

In [3]:
df['genres'].iloc[0]

'Adventure|Animation|Children|Comedy|Fantasy'

In [4]:
print(df['genres'].iloc[0].split('|'))

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [5]:
list_genres = df['genres'].iloc[0].split('|')

In [6]:
genres = ' '.join(list_genres)
print(genres)

Adventure Animation Children Comedy Fantasy

In [8]:
df['Genres'] = df['genres'].apply(lambda x: ' '.join(x.split('|')))
df.head()

,movieId,title,genres,Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy,Comedy

In [9]:
example = df["title"].iloc[0]
title = example[:-7]
print(title)

Toy Story

In [11]:
df['Title'] = df["title"].apply(lambda x:x[:-6])
df['Title'].head()

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: Title, dtype: object

In [13]:
df['Description'] = df['Title'] + df['Genres']
df['Description'].head()

0    Toy Story Adventure Animation Children Comedy ...
1                   Jumanji Adventure Children Fantasy
2                      Grumpier Old Men Comedy Romance
3               Waiting to Exhale Comedy Drama Romance
4                   Father of the Bride Part II Comedy
Name: Description, dtype: object