In [29]:
%reload_ext autoreload
%autoreload 2

In [30]:
import pandas as pd

df_akas = pd.read_csv("../data/IMDB/title_akas.tsv")
### Certains titres sont en japonais !

In [31]:
df_basics = pd.read_csv("../data/IMDB/title_basics.tsv", sep = '\t', on_bad_lines='skip')

/tmp/ipykernel_44452/285975358.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_basics = pd.read_csv("../data/IMDB/title_basics.tsv", sep = '\t', on_bad_lines='skip')

In [32]:
df_basics.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [33]:
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [34]:
df_basics = df_basics[['originalTitle', 'isAdult', 'startYear', 'genres']]

In [35]:
df_basics.rename(columns={'genres':'genresIMDB'}, inplace=True)

In [36]:
df_basics.shape

(10556995, 4)

In [37]:
df_basics.head()

            originalTitle isAdult startYear                genresIMDB
0              Carmencita       0      1894         Documentary,Short
1  Le clown et ses chiens       0      1892           Animation,Short
2          Pauvre Pierrot       0      1892  Animation,Comedy,Romance
3             Un bon bock       0      1892           Animation,Short
4        Blacksmith Scene       0      1893              Comedy,Short

### Import de movies.csv de la base MovieLens et merge avec avec la base de films IMDB

In [38]:
df_movies = pd.read_csv("../data/movies.csv")

In [39]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [40]:
df_movies['title'] = df_movies["title"].apply(lambda x:x[:-6])

In [41]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy

In [42]:
df_movies.shape

(27278, 3)

In [44]:
df = df_movies.merge(df_basics, left_on='title', right_on='originalTitle')

In [ ]:
len(df)

58

In [ ]:
df.head()

,movieId,title,genres_x,primaryTitle,isAdult,startYear,genres_y
0,26815,Deadly Advice,Comedy|Drama,Deadly Advice,0,1994,"Comedy,Drama"
1,26815,Deadly Advice,Comedy|Drama,Deadly Advice,0,\N,Thriller
2,128612,Body,Comedy|Drama|Mystery,Body,0,1983,Short
3,128612,Body,Comedy|Drama|Mystery,Body,0,2006,"Animation,Comedy"
4,128612,Body,Comedy|Drama|Mystery,Body,0,2006,"Comedy,Drama"

In [45]:
df_basics[df_basics['originalTitle'] == 'Toy story']

Empty DataFrame
Columns: [originalTitle, isAdult, startYear, genresIMDB]
Index: []

In [46]:
df_basics.startYear.max()

'\\N'

### Il n'y a pas une bonne correspondance entre la base MLens et celle d'IMDB